*.substvars
*debhelper*
.debhelper
files
tmp

askpass
autoreconf.*
scripts/passdev

cryptsetup
cryptsetup-bin
cryptsetup-initramfs
cryptsetup-run
cryptsetup-ssh
cryptsetup-suspend
cryptsetup-udeb
libcryptsetup-dev
libcryptsetup12
libcryptsetup12-udeb
